*{
  text-align: center;
  font-family: Helvetica;
}

/*Main title*/
h1{
  color: white;
  font-size: 65px;
}

/*Sub title*/
h2 {
  font-size: 32px;
}

/*Body titles*/
h3{
  font-size: 23px;
}

/*Main title 2*/
h4{
  color: white;
  font-size: 23px;
}

/*Hyperlinks*/
p, a{
  color:white;
  font-size: 18px;
}


/*assign to div that has background image*/
.background {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

/*changes the font in the Body div*/
.body p{
  color:black;
  font-size: 14px;
  font-weight:normal;

}

.footer{
  color: white;
  font-size: 11px;
  text-align: left;
  background-color: dimgray;
}
.footer a, .footer p{
  font-size: 11px;
}




/*
.Hyperlink {
  color: white;
  font-size: 18px;
}

decided make the default a+p font the hyperlink so I didnt have to assign class
to all anchors and paragraph elements.

Please give feedback on how I can better organize my css file.
I tried to minimize the amount of code, but this might have made it sloppy and
hard to read/understand what i'm doing. Should I instead separate my styles by
things like color?


Also, I was not able to get the background image to be positioned in the same way
as the template.
*/
